name: child_builder
description: A very simple builder that can be used by UI frameworks to customize / wrap internal widgets.
homepage: https://github.com/peiffer-innovations/child_builder

version: 2.0.2

environment:
  sdk: '>=3.0.0 <4.0.0'

analyzer:
  exclude: [lib/generated/**]

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ">=3.0.1 <5.0.0"
  flutter_test:
    sdk: flutter

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'uuid'
  - 'vector_math'
  - 'webdriver'
